.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 1em;
}

header, footer {
    grid-column: 1/span 2;
}

.main-img {
    width: 100%;
}

video {
    width: 100%;
}

figure {
    margin: 1em 0;
    padding: 0;
}

.did-you-know {
    background-color: #EEE1BA;
    padding: 1em;
}

.data {
    padding: 1em;
    margin-top: 1em;
    background-color: #E6C994;
}

.data ul {
    padding-left: 2em;
}