/*barvy:
#EEE1BA
#F2D3AC
#8C5042
#BF7160
#A66556*/

:root {
    --brown: #8C5042;
    --body-background: #F2D3AC;
}

html, body {
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--body-background);
    padding: 4em;
}

.container {
    max-width: 1000px;
    padding: 3em;
    margin: auto;
    background-color: red;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

p {
    margin-bottom: 2em;
}

main {
    padding: 1em;
}

/* typography */
h1, h2, h3, h4 {
    font-family: 'Kaushan Script', cursive;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin: 1em;
}

h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.3em;
}

/* img, video */
.main-img {
    width: 100%;
}

video {
    width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 0.9rem;
}

/* navigation */
.navigation {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
}

.logo {
    grid-column: 1/span 1;
}

nav {
    grid-column: 3/span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.nav-li {
    display: inline-block;
}

.nav-li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--brown);
    font-weight: bolder;
    padding: 0.5em 1.5em;
}

.nav-li a:hover {
    background-color: var(--brown);
    color: white;
}

/* aside */
.did-you-know {
    background-color: #EEE1BA;
    padding: 1em;
}

.data {
    padding: 1em;
    margin-top: 1em;
    background-color: #E6C994;
}

.data ul {
    padding-left: 2em;
}

/* footer */
footer {
    border-top: dotted 2px rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
}